<div class="row mt-4">
    <div class="col-md-8">
      <h3>
        <a class="btn btn-sm btn-link mr-2" [routerLink]="[ '/admin/post' ]">
          <i class="fa fa-arrow-left"></i>
        </a>
        Edit post
      </h3>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  
  <div class="row mt-2 mb-4">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form (ngSubmit)="onUpdate(postForm)" #postForm="ngForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Category *</label>
                  <select 
                    name="category"
                    [(ngModel)]="post.category"
                    #postCategory="ngModel"
                    required
                    [ngClass]="{'is-invalid': postCategory.errors && postCategory.touched }"
                    class="form-control">
                    <option value="">Select Category</option>
                    <option *ngFor="let category of categories" [ngValue]="category._id">
                      {{ category.name }}
                    </option>
                  </select>
                  <small 
                    class="form-text text-danger" 
                    *ngIf="postCategory.errors?.required && postCategory.touched">
                    Category is required...
                  </small>
                </div>
      
                <div class="form-group">
                  <label for="">Post title *</label>
                  <input 
                    type="text" 
                    name="title"
                    [(ngModel)]="post.title"
                    #postTitle="ngModel"
                    required
                    [ngClass]="{'is-invalid': postTitle.errors && postTitle.touched }"
                    class="form-control">
                    <small 
                      class="form-text text-danger" 
                      *ngIf="postTitle.errors?.required && postTitle.touched">
                      Post title is required...
                    </small>
                </div>
  
                <div class="form-group">
                  <label for="">Description</label>
                  <textarea 
                    name="description" 
                    rows="3"
                    [(ngModel)]="post.description"
                    #postDescription="ngModel"
                    class="form-control"></textarea>
                </div>
  
                <div class="form-group">
                  <label for="">Image Url</label>
                  <input 
                    type="text" 
                    class="form-control"
                    name="imageUrl"
                    [(ngModel)]="post.imageUrl"
                    #postImageUrl="ngModel">
                </div>
  
                <div class="form-group">
                  <label for="">Active</label>
                  <div>
                      <div class="custom-control custom-radio custom-control-inline">
                          <input 
                            type="radio" 
                            [value]="true"
                            id="customRadioInline1" 
                            [(ngModel)]="post.isActive"
                            name="isActive" 
                            class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline1">True</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input 
                            type="radio" 
                            [value]="false"
                            id="customRadioInline2" 
                            [(ngModel)]="post.isActive"
                            name="isActive" 
                            class="custom-control-input">
                          <label class="custom-control-label" for="customRadioInline2">False</label>
                        </div>
                  </div>
                </div>
  
                <div class="form-group">
                    <button 
                      type="submit"
                      [disabled]="!postForm.valid"
                      class="btn btn-success">Update</button>
                  </div>
              </div><!-- 1st col-6 ends -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Post body</label>
                  <quill-editor [(ngModel)]="post.body" name="body"></quill-editor>
                </div>
              </div><!-- 2nd col-6 ends -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>