<div class="row mt-4">
  <div class="col-md-12 text-center">
    <h3>All Categories</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mb-4" *ngFor="let category of categories">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{category.name}}</h5>
        <p class="card-text">{{ (category.description.length>100)? (category.description | slice:0:100)+'..':(category.description) }}</p>
        <a class="btn btn-info" [routerLink]="[ '/category-details', category._id ]">View Posts</a>
      </div>
    </div>
  </div>
</div>